h1 {
    background-color: navajowhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h2 {
    background-color: palegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}