

.encabezado1 {

color: #08a571;

}

th {

    color: #08a571;
    
    }


label {
    color: #39af0a;
}


td {
    color: #39af0a;
}


ul {
    color: #39af0a;
}

p{
    color: #39af0a;
}